body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../images/buffet.jpg);
    font-family: Avenir;
    color: #34261b;
    margin: 20px 50px 10px 50px
}

a {
    color: #34261b;
}


#basic-flex > * {
    flex: 1;
}

#basic-flex {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column; /*instead of row*/
    flex-grow: 1; /*this property specifies how much of the remaining space in the flex container should be assigned to the item */
    flex-wrap: wrap; /*se non c'è spazio va a capo*/
    gap: 2rem; /*column gap*/

}

.child-flex {
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    background:   #e0ebef;
}

input {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #34261b;
    outline: none;
    background: transparent;
}

select {

    border: none;
    border-bottom: 1px solid #34261b;
    outline: none;
    background: #e0ebef;

}


fieldset {
    border-radius: 1000px;
    margin: 10px;
    border: none;
    outline: none;
    background: #b7b2ad;
}

.button {
    background-color: #34261b;
    border-radius: 1000px;
    border: none;
    color: #e0ebef;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    margin: 4px 2px;
    cursor: pointer;
}




.link-settings {
    margin-top: 10px;
    font-size: 70%
}

#margin-settings {

    /*
        top:20%;
      left: 50%;
      transform: translate(-50%, -50%);
      position:absolute;
      border-radius: 10px;
      background: #e0ebef;
  */
//padding: 20px;
    text-align: center;
}






