body {
    background-size: cover;
    background-image: url(../images/caffe.jpeg);
    font-family: Avenir;
    color: #16565c;
    margin: 20px 50px 10px 50px
}

h2 {
    text-align: center;
    color: #c8cdd1;
}

a {
    color: black;
}

#margin-settings {
    padding: 20px;
    text-align: center;
}

.title-settings {
    font-weight: bold;

}

.child-flex {
    border-radius: 10px;
    padding: 20px;
    background:   #c8cdd1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #86cdd4 , #c8cdd1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #86cdd4, #c8cdd1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #86cdd4,#c8cdd1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #86cdd4, #c8cdd1); /* Standard syntax */
}


.basic-flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 2rem;

}

.basic-flex > * {
    flex: 1;
}

.link-settings {
    margin-top: 10px;
    font-size: 70%
}


