body {
    font-family: Avenir;
    color: #592c4d;
    margin: 20px 50px 10px 50px;
    text-align: center;
}

#grad {
    background:  #e0ebef; /* for browsers that do not support gradients */
    background: linear-gradient(to right,  #ABB0C6, #e0ebef);

    /*background: -webkit-linear-gradient(left, #a28d83 , #c8cdd1); for Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(right,  #a28d83, #c8cdd1); for Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(right, #a28d83,#c8cdd1); for Firefox 3.6 to 15 */
}

a {
    color: #592c4d;
}

.login-box {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
}



 h2 {
    margin: 0 0 30px; /* 0 top 0 right 30 bottom margin*/
    text-align: center;
}

 input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #592c4d;
    outline: none;
    background: transparent;
}

.button {
    background-color: #592c4d;
    border-radius: 1000px;
    border: none;
    color: #e0ebef;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
    margin: 4px 2px;
    cursor: pointer;
}

.link-settings {
    margin-top: 10px;
    font-size: 70%
}

#margin-settings {
    padding: 20px;
    text-align: center;
}






