<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Demo</title>
    <link th:href="@{/css/adminall.css}" rel="stylesheet" href="../../static/css/adminall.css">
</head>
<body>

<div id="basic-flex">

    <h3 class="child-flex"><a  th:href="@{/admin/chefForm}">crea chef</a> <div><a th:href="@{/chefList}">lista chef</a></div></h3>

    <h3 class="child-flex"><a th:href="@{/admin/buffetForm}">crea buffet</a> <div><a th:href="@{/buffetList}">lista buffet</a></div></h3>

    <h3  class="child-flex"><a th:href="@{/admin/piattoForm}">crea piatto</a><div> <a th:href="@{/piattoList}">lista piatti</a></div></h3>

    <h3  class="child-flex"><a th:href="@{/admin/ingredienteForm}">crea ingrediente</a><div><a th:href="@{/ingredienteList}">lista ingredienti</a></div></h3>


<div th:replace="footer :: footer"></div>
    <div class="link-settings" id="margin-settings">
        <a th:href="@{/logout}">Logout</a>
    </div>
   
</div>
</body>
</html>