<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Demo</title>
    <link th:href="@{/css/adminall.css}" rel="stylesheet" href="../../static/css/adminall.css">
</head>
<body>
<div id="basic-flex">

    <div class="child-flex"><a th:href="@{/chefList}">lista chef</a></div>

<div class="child-flex">
    <div><a th:href="@{/buffetList}">lista buffet</a></div>
</div>

<div class="child-flex">
    <div><a th:href="@{/piattoList}">lista piatti</a></div>
</div>

<div class="child-flex">
    <div><a th:href="@{/ingredienteList}">lista ingredienti</a></div>
</div>
    <div th:replace="footer :: footer"></div>
</div>
</div>
</body>
</html>