<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Demo</title>
    <link th:href="@{/css/adminall.css}" rel="stylesheet" href="../../static/css/adminall.css">
</head>
<body>
<div id="this-box">
<div>
    <h2>Servizio di catering</h2>

</div>


    <div class="grad"><a th:href="@{/chefList}">lista chef</a></div>

<div class="grad">
    <div><a th:href="@{/buffetList}">lista buffet</a></div>
</div>

<div class="grad">
    <div><a th:href="@{/piattoList}">lista piatti</a></div>
</div>

<div class="grad">
    <div><a th:href="@{/ingradienteList}">lista ingradienti</a></div>
</div>
</div>
</div>
</body>
</html>