<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Buffet</title>
    <link
      th:href="@{/css/index.css}"
      rel="stylesheet"
      href="../../static/css/index.css"
    />
  </head>
  <body>
    <div class="basic-flex">
      <div th:each="buffet : ${buffet}">
        <div class="child-flex">
          <div class="title-settings" th:text="${buffet.nome}"></div>
          <div th:text="${buffet.descrizione}"></div>

          <div class="link-settings">
            <div>
              <a th:href="@{'/buffet' + '/' + ${buffet.id}}">dettagli buffet</a>
            </div>
            <div>
              <a th:href="@{'/admin/buffetDelete' + '/' + ${buffet.id}}"
                >cancella buffet</a
              >
            </div>
            <div>
              <a th:href="@{'/admin/buffetEdit' + '/' + ${buffet.id}}"
                >modifica buffet</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
