<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <title>Buffet list</title>
    <link
      th:href="@{/css/list.css}"
      rel="stylesheet"
      href="../../static/css/list.css"
    />
  </head>
  <body>
    <div class="basic-flex">
      <div th:each="buffet : ${buffet}">
        <div class="child-flex">
          <h2 class="title-settings" th:text="${buffet.nome}"></h2>
          <div th:text="${buffet.descrizione}"></div>

          <div class="link-settings">
            <div>
              <a th:href="@{'/buffet' + '/' + ${buffet.id}}">dettagli buffet</a>
            </div>
            <div>
              <a sec:authorize="isFullyAuthenticated()"
                 th:href="@{'/admin/buffetDelete' + '/' + ${buffet.id}}"
                >cancella buffet</a
              >
            </div>
            <div>
              <a sec:authorize="isFullyAuthenticated()"
                 th:href="@{'/admin/buffetEdit' + '/' + ${buffet.id}}"
                >modifica buffet</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="footer :: footer"></div>
  </body>
</html>
