<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Buffet</title>
</head>
<body>
<h4>Elenco buffet</h4>
<ul>
    <li th:each="buffet : ${buffet}">
        <div> <a href="buffet.html"th:href="@{'/chef' + '/' + ${buffet.id}}"
                 th:text="${buffet.nome} + ' ' + ${buffet.descrizione}"></a></div>

        <div> <a th:href="@{'/buffetDelete' + '/' + ${buffet.id}}">cancella buffet</a></div>
        <div> <a th:href="@{'/buffetModify' + '/' + ${buffet.id}}">modifica buffet</a></div>

    </li>
</ul>
</body>
</html>