<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Buffet</title>
    <link
      th:href="@{/css/list.css}"
      rel="stylesheet"
      href="../../static/css/list.css"
    />
  </head>
  <body>
    <div>
      <div class="basic-flex">
        <div class="child-flex">
         <h2 th:text="${buffet.nome}"></h2>
         <div th:text="|Descrizione: ${buffet.descrizione}|"></div>
        </div>

        <div class="child-flex">
          <a th:href="@{'/chef/' + ${buffet.chef.id}}" th:text="|Chef: ${buffet.chef.nome}  ${buffet.chef.cognome}|"></a>
        </div>

        <div class="child-flex" th:unless="${!buffet.piatti.isEmpty()}">
          <div>Nessun piatto disponibile</div>
        </div>

        <div class="child-flex" th:if="${!buffet.piatti.isEmpty()}">
          <div>piatti:</div>
          <div th:each="piatto : ${buffet.piatti}">
            <a
              th:href="@{'/piatto' + '/' + ${piatto.id}}"
              th:text="${piatto.nome}"
            ></a>
          </div>
        </div>
      </div>

      <div th:replace="footer :: footer"></div>
    </div>
  </body>
</html>
