<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>inserimento chef</title>
    <link th:href="@{/css/adminall.css}" rel="stylesheet" href="../../static/css/adminall.css">
</head>
<body>
<!--/*@thymesVar id="chef" type="it.uniroma3.siw.model.Chef"*/-->
<form th:action="@{/admin/chefEdited/{id}(id=${chef.id})}" method="post" th:object="${chef}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore globale</p>
    </div>

    <div id = "this-box" class = "grad">
    <h2>Inserisci chef: </h2>
    <div>
        nome: <input type="text" th:field="*{nome}" th:value="*{nome}" />
        <div th:errors="*{nome}" th:if="${#fields.hasErrors('nome')}"></div>
    </div>
    <div>
        cognome: <input type="text" th:field="*{cognome}" th:value="*{cognome}"/>
        <div th:errors="*{cognome}" th:if="${#fields.hasErrors('cognome')}"></div>
    </div>
    <div>
        nazionalita: <input type="text" th:field="*{nazionalita}" th:value="*{nazionalita}"/>
        <div th:errors="*{nazionalita}" th:if="${#fields.hasErrors('nazionalita')}"></div>
    </div>
    <div><button class="button" type="submit"/>Conferma</div>
    </div>
</form>
</body>
</html>