<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Chef list</title>
    <link
      th:href="@{/css/list.css}"
      rel="stylesheet"
      href="../../static/css/list.css"
    />
  </head>
  <body>

    <div class="basic-flex">
    <div th:each="chef : ${chef}">
      <div class="child-flex">
      <div class="title-settings" th:text="${chef.nome} + ' ' + ${chef.cognome}"></div>
      <div th:text="${chef.nazionalita}"> </div>

      <div class="link-settings">
        <div>
          <a th:href="@{'/chef' + '/' + ${chef.id}}">dettagli chef</a>
        </div>
      <div>
        <a th:href="@{'/admin/chefDelete' + '/' + ${chef.id}}">cancella chef</a>
      </div>
      <div>
        <a th:href="@{'/admin/chefEdit' + '/' + ${chef.id}}">modifica chef</a>
      </div>
      </div>
    </div>
    </div>
      <div th:replace="footer :: footer"></div>
    </div>
  </body>
</html>
