<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Dettagli chef</title>
</head>
<body>
<div>
    <h4>Dettagli chef</h4>
    <div>
        <span th:text="${chef.nome}">Paolo</span>
        <span th:text="${chef.cognome}">Rossi</span>
        <span th:text="${chef.nazionalita}">28</span>
    </div>

    <!--ul>
        <li th:each="chef : ${chef.buffets}">
            <a th:href="@{'/chef' + '/' + ${chef.id}}"
               th:text="${chef.nome}"></a>
        </li>
    </ul-->

</div>
<footer>
    <a href="/">Home</a>
</footer>
</body>
</html>