<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dettagli chef</title>
    <link
      th:href="@{/css/list.css}"
      rel="stylesheet"
      href="../../static/css/list.css"
    />
  </head>
  <body>
    <div>
      <div class="basic-flex">
        <div class="child-flex">

          <h2 th:text="|${chef.nome} ${chef.cognome}|"></h2>
          <div th:text="|Nazionalità: ${chef.nazionalita}|"></div>

        </div>

        <!--/*@thymesVar id="chef" type="it.uniroma3.siw.model.Chef"*/-->
        <div class="child-flex" th:unless="${!chef.buffets.isEmpty()}">
          <div>Nessun buffet disponibile</div>
        </div>

        <div class="child-flex" th:if="${!chef.buffets.isEmpty()}">
          <div>buffet:</div>
          <div th:each="buffet : ${chef.buffets}">
            <a
              th:href="@{'/buffet' + '/' + ${buffet.id}}"
              th:text="${buffet.nome}"
            ></a>
          </div>
        </div>

        <!--ul>
        <li th:each="chef : ${chef.buffets}">
            <a th:href="@{'/chef' + '/' + ${chef.id}}"
               th:text="${chef.nome}"></a>
        </li>
    </ul-->
      </div>
      <div th:replace="footer :: footer"></div>
    </div>
  </body>
</html>
