<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>inserimento chef</title>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
<!--/*@thymesVar id="chef" type="it.uniroma3.siw.model.Chef"*/-->
<form th:action="@{/chef}" method="post" th:object="${chef}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore globale</p>
    </div>

    <div>Inserisci chef: </div>
    <div>
        nome: <input type="text" th:field="*{nome}" />
        <div th:errors="*{nome}" th:if="${#fields.hasErrors('nome')}"></div>
    </div>
    <div>
        cognome: <input type="text" th:field="*{cognome}" />
        <div th:errors="*{cognome}" th:if="${#fields.hasErrors('cognome')}"></div>
    </div>
    <div>
        nazionalita: <input type="text" th:field="*{nazionalita}" />
        <div th:errors="*{nazionalita}" th:if="${#fields.hasErrors('nazionalita')}"></div>
    </div>
    <div><button type="submit"/>Conferma</div>
</form>
</body>
</html>