<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Demo</title>
  <link
          th:href="@{/css/trueindex.css}"
          rel="stylesheet"
          href="../../static/css/trueindex.css"
  />
</head>
<body>
<div class="this-box">


  <h1>Catering</h1>

  <div class="fix-div">Benvenuto! Per vedere tutti i piatti e buffet offerti dai migliori chef basta un click... </div>


  <a class="button" th:href="@{/allindex}">naviga</a>

  <a class="button" th:href="@{/login}">login</a>

  <!--h2>Registrati</h2>
  <h4><span> Clicca qui: </span><a th:href="@{/register}">registrati</a></h4-->
</div>
</body>
</html>


