<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Demo</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
<div>
    <h4>Servizio di catering</h4>

</div>

    <div><span>take a look: </span><a th:href="@{/allindex}">naviga</a></div>
    <div><span>if u already know: </span><a th:href="@{/login}">login</a></div>
    <div><span>if u wanna join: </span><a th:href="@{/register}">registrati</a></div>
    <!--hr>
    <div>
        <div><a th:href="@{/chefForm}">crea chef</a></div>
            <div><a th:href="@{/chefList}">lista chef</a></div>
    </div>
    <hr>
    <div>
        <div><a th:href="@{/buffetForm}">crea buffet</a></div>
            <div><a th:href="@{/buffetList}">lista buffet</a></div>
    </div>
    <hr>
    <div>
        <div><a th:href="@{/piattoForm}">crea piatto</a></div>
            <div><a th:href="@{/piattoList}">lista piatti</a></div>
    </div>
    <hr>
    <div>
        <div><a th:href="@{/ingradienteForm}">crea ingradiente</a></div>
            <div><a th:href="@{/ingradienteList}">lista ingradienti</a></div>
    </div-->
</div>
</body>
</html>