<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Demo</title>
  <link rel="stylesheet" href="index.css" />
</head>
<body>
<div>
  <h4>Dettagli ingradiente</h4>
  <div>
    <div><span>Nome: </span><span th:text="${ingradiente.nome}"></span></div>
    <div><span>Origine: </span><span th:text="${ingradiente.origine}"></span></div>
    <div><span>Descrizione: </span><span th:text="${ingradiente.descrizione}"></span></div>
  </div>
</div>
<footer><a href="/">Home</a></footer>
</body>
</html>