<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <title>Ingrediente list</title>
    <link
      th:href="@{/css/list.css}"
      rel="stylesheet"
      href="../../static/css/list.css"
    />
  </head>
  <body>
    <div class="basic-flex">
      <div th:each="ingrediente : ${ingredienti}">
        <div class="child-flex">
          <h2 class="title-settings" th:text="${ingrediente.nome}"></h2>
            <div th:text="|from: ${ingrediente.origine}|"></div>

          <div class="link-settings">
            <div>
              <a th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}"
                >dettagli ingrediente</a
              >
            </div>
            <div>
              <a sec:authorize="isFullyAuthenticated()"
                th:href="@{'/admin/ingredienteDelete' + '/' + ${ingrediente.id}}"
                >cancella ingrediente</a
              >
            </div>
            <div>
              <a sec:authorize="isFullyAuthenticated()"
                 th:href="@{'/admin/ingredienteEdit' + '/' + ${ingrediente.id}}"
                >modifica ingrediente</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="footer :: footer"></div>
  </body>
</html>
