<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Ingrediente</title>
    <link
      th:href="@{/css/list.css}"
      rel="stylesheet"
      href="../../static/css/list.css"
    />
  </head>
  <body>
    <div class="basic-flex">
      <div th:each="ingrediente : ${ingredienti}">
        <div class="child-flex">
          <div class="title-settings" th:text="${ingrediente.nome}"></div>
          <div>
            <span>from: </span><span th:text="${ingrediente.origine}"></span>
          </div>
          <div th:text="${ingrediente.descrizione}"></div>

          <div class="link-settings">
            <div>
              <a th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}"
                >dettagli ingrediente</a
              >
            </div>
            <div>
              <a
                th:href="@{'/admin/ingredienteDelete' + '/' + ${ingrediente.id}}"
                >cancella ingrediente</a
              >
            </div>
            <div>
              <a th:href="@{'/admin/ingredienteEdit' + '/' + ${ingrediente.id}}"
                >modifica ingrediente</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="margin-settings">
      <div class="link-settings">
        <a th:href="@{/allindex}" href="/allindex.html">User's home</a>
      </div>
      <div class="link-settings">
        <a th:href="@{/adminindex}" href="/adminindex.html">Admin's home</a>
      </div>
    </footer>
  </body>
</html>
