<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Inserimento ingrediente</title>
    <link th:href="@{/css/adminall.css}" rel="stylesheet" href="../../static/css/adminall.css">
</head>
<body>
<form th:action="@{/admin/ingrediente}" method="post" th:object="${ingrediente}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore globale</p>
    </div>

    <div id = "basic-flex" class = "child-flex">
    <h2>Inserisci ingrediente: </h2>
    <div>nome:<input type="text" th:field="*{nome}" /></div>
    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>

    <div>origine:<input type="text" th:field="*{origine}" /></div>
    <div th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></div>

    <div>descrizione:<input type="text" th:field="*{descrizione}" /></div>
    <div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>


    <div><button class="button" type="submit"/>Conferma</button></div>
        <div th:replace="footer :: footer"></div>
    </div>
</form>
</body>
</html>