<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingradiente</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
<h4>Elenco ingradienti</h4>
<ul>
    <li th:each="ingradiente : ${ingradienti}">
        <div> <a href="chef.html"th:href="@{'/ingradiente' + '/' + ${ingradiente.id}}"
                 th:text="${ingradiente.nome} + ' ' + ${ingradiente.origine}+ ' ' + ${ingradiente.descrizione}"></a></div>

        <div> <a th:href="@{'/ingradienteDelete' + '/' + ${ingradiente.id}}">cancella ingradiente</a></div>
        <div> <a th:href="@{'/ingradienteModify' + '/' + ${ingradiente.id}}">modifica ingradiente</a></div>

    </li>
</ul>
</body>
</html>