<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Ingrediente</title>
    <link
      th:href="@{/css/list.css}"
      rel="stylesheet"
      href="../../static/css/list.css"
    />
  </head>
  <body>
    <div>
      <div class="basic-flex">
        <div class="child-flex">
          <h2 th:text="${ingrediente.nome}"></h2>
          <div th:text="|Origine: ${ingrediente.origine}|"></div>
          <div th:text="|Descrizione: ${ingrediente.descrizione}|"></div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="footer :: footer"></div>
  </body>
</html>
