<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Ingrediente delete</title>
    <link th:href="@{/css/form.css}" rel="stylesheet" href="../../static/css/form.css">
</head>
<body>

<div>

    <div id="basic-flex">
        <div class = "child-flex">
            <p th:text="'Elimina: ' + ${ingrediente.nome}"></p>
            <form method="POST" th:action="@{'/admin/ingredienteDelete' + '/' + ${ingrediente.id}}" th:object="${ingrediente}">
                <button class="button" type="submit">Confirm</button>
                <a class="button" th:href="@{'/ingredienteList'}" th:text="Cancel">Cancel</a>
            </form>
        </div>
        <div th:replace="footer :: footer"></div>
    </div>


</div>
</body>

</html>