<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Demo</title>
    <link
      th:href="@{/css/index.css}"
      rel="stylesheet"
      href="../../static/css/index.css"
    />
  </head>
  <body>
    <div>
      <div class="basic-flex">
        <div class="child-flex">
          <div>
            <span>Nome: </span><span th:text="${ingrediente.nome}"></span>
          </div>
          <div>
            <span>Origine: </span><span th:text="${ingrediente.origine}"></span>
          </div>
          <div>
            <span>Descrizione: </span
            ><span th:text="${ingrediente.descrizione}"></span>
          </div>
        </div>
      </div>
    </div>
    <footer id="margin-settings">
      <div class="link-settings">
        <a th:href="@{/allindex}" href="/allindex.html">User's home</a>
      </div>
      <div class="link-settings">
        <a th:href="@{/adminindex}" href="/adminindex.html">Admin's home</a>
      </div>
    </footer>
  </body>
</html>
