<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Ingrediente</title>
    <link
      th:href="@{/css/list.css}"
      rel="stylesheet"
      href="../../static/css/list.css"
    />
  </head>
  <body>
    <div>
      <div class="basic-flex">
        <div class="child-flex">
          <div>
            <span>Nome: </span><span th:text="${ingrediente.nome}"></span>
          </div>
          <div>
            <span>Origine: </span><span th:text="${ingrediente.origine}"></span>
          </div>
          <div>
            <span>Descrizione: </span
            ><span th:text="${ingrediente.descrizione}"></span>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="footer :: footer"></div>
  </body>
</html>
