<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Ingradiente</title>
    <link
      th:href="@{/css/index.css}"
      rel="stylesheet"
      href="../../static/css/index.css"
    />
  </head>
  <body>

    <div class="basic-flex">
        <div th:each="ingradiente : ${ingradienti}">
                <div class="child-flex">

                      <div class="title-settings" th:text="${ingradiente.nome}"> </div>
                      <div><span>from: </span><span th:text="${ingradiente.origine}"></span></div>
                      <div th:text="${ingradiente.descrizione}"></div>

                      <div class="link-settings">
                          <div>
                              <a th:href="@{'/ingradiente' + '/' + ${ingradiente.id}}">dettagli ingradiente</a>
                          </div>
                      <div>
                        <a th:href="@{'/admin/ingradienteDelete' + '/' + ${ingradiente.id}}"
                          >cancella ingradiente</a>
                      </div>
                      <div>
                        <a th:href="@{'/admin/ingradienteEdit' + '/' + ${ingradiente.id}}"
                          >modifica ingradiente</a>
                      </div>
                </div>
        </div>
    </div>
  </body>
</html>
