<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/html"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
  <head>
    <title>login</title>
    <link
      th:href="@{/css/login.css}"
      rel="stylesheet"
      href="../../static/css/login.css"
    />
  </head>

  <body id="grad">
    <div>
      <div class="login-box">
        <h2>Login</h2>
        <div>
          <form th:action="@{/login}" method="POST">
            <div class="user-box">
              <div>
                <input
                  name="username"
                  type="text"
                  placeholder="username"
                  required
                />
              </div>
            </div>
            <div class="user-box">
              <div>
                <input
                  name="password"
                  type="password"
                  placeholder="password"
                  required
                />
              </div>
            </div>

            <div><button class="button" type="submit" />Conferma</div>
          </form>
        </div>
        <footer id="margin-settings">
          <div class="link-settings">
            <a th:href="@{/allindex}" href="/allindex.html">User's home</a>
          </div>
          <div class="link-settings">
            <a th:href="@{/adminindex}" href="/adminindex.html">Admin's home</a>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
