<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Demo</title>
</head>
<body>
<div>
    <h4>Dettagli piatto</h4>
    <div>
        <span th:text="${piatto.nome}"></span>
        <span th:text="${piatto.descrizione}"></span>

        <ul>
            <li th:each="ingradiente : ${piatto.ingradienti}">
                <a th:href="@{'/ingradiente' + '/' + ${ingradiente.id}}"
                   th:text="${ingradiente.nome}"></a>
            </li>
        </ul>

    </div>

</div>
<footer><a href="/">Home</a></footer>
</body>
</html>