<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <title>Piatto list</title>
    <link
      th:href="@{/css/list.css}"
      rel="stylesheet"
      href="../../static/css/list.css"
    />
  </head>
  <body>
    <div class="basic-flex">
      <div th:each="piatto : ${piatti}">
        <div class="child-flex">
          <h2 class="title-settings" th:text="${piatto.nome}"></h2>
          <div th:text="|Descrizione: ${piatto.descrizione}|"></div>

          <div class="link-settings">
            <div>
              <a th:href="@{'/piatto' + '/' + ${piatto.id}}">dettagli piatto</a>
            </div>
            <div>
              <a sec:authorize="isFullyAuthenticated()"
                 th:href="@{'/admin/piattoDelete' + '/' + ${piatto.id}}"
                >cancella piatto</a
              >
            </div>
            <div>
              <a sec:authorize="isFullyAuthenticated()"
                      th:href="@{'/admin/piattoEdit' + '/' + ${piatto.id}}"
                >modifica piatto</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="footer :: footer"></div>
  </body>
</html>
