<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Chef</title>
    <link
      th:href="@{/css/index.css}"
      rel="stylesheet"
      href="../../static/css/index.css"
    />
  </head>
  <body>
    <div class="basic-flex">
      <div th:each="piatto : ${piatti}">
        <div class="child-flex">
          <div class="title-settings" th:text="${piatto.nome}"></div>
          <div th:text="${piatto.descrizione}"></div>

          <div class="link-settings">
            <div>
              <a th:href="@{'/piatto' + '/' + ${piatto.id}}">dettagli piatto</a>
            </div>
            <div>
              <a th:href="@{'/admin/piattoDelete' + '/' + ${piatto.id}}"
                >cancella piatto</a
              >
            </div>
            <div>
              <a th:href="@{'/admin/piattoEdit' + '/' + ${piatto.id}}"
                >modifica piatto</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="margin-settings">
      <div class="link-settings">
        <a th:href="@{/allindex}" href="/allindex.html">User's home</a>
      </div>
      <div class="link-settings">
        <a th:href="@{/adminindex}" href="/adminindex.html">Admin's home</a>
      </div>
    </footer>
  </body>
</html>
