<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Inserimento piatto</title>
    <link rel="stylesheet" th:href="@{/css/adminall.css}" href="../static/css/adminall.css" />
</head>
<body>
<!--/*@thymesVar id="piatto" type="it.uniroma3.siw.model.Piatto"*/-->
<form th:action="@{/admin/piatto}" method="post" th:object="${piatto}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore globale</p>
    </div>

    <div id = "basic-flex" class = "child-flex">
    <h2>Inserisci piatto: </h2>
    <div>nome:<input type="text" th:field="*{nome}" /></div>
    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>

    <div>descrizione:<input type="text" th:field="*{descrizione}" /></div>
    <div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>

    <div>

        <div>Seleziona ingredienti: </div>
        <fieldset>
            <div th:each="ingrediente: ${ingredienti}">
                <input type="checkbox" id="${ingredienti}" th:field="*{ingredienti}" name="ingradiente" th:value="${ingrediente.id}" >
                <label for="${ingredienti}" th:text="${ingrediente.nome}">Nome ingrediente</label>
            </div>
        </fieldset>
    </div>

    <div><button  class="button"  type="submit"/>Conferma</button></div>
    <footer id="margin-settings">
        <div class="link-settings">
          <a th:href="@{/allindex}" href="/allindex.html">User's home</a>
        </div>
        <div class="link-settings">
          <a th:href="@{/adminindex}" href="/adminindex.html">Admin's home</a>
        </div>
      </footer>
    </div>
</form>
</body>
</html>