<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Demo</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
<div>
    <h4>Dettagli piatto</h4>
    <link rel="stylesheet" href="index.css" />
    <div>

        <h4>Dettagli piatto: </h4>
        <div><span> Nome: </span><span th:text="${piatto.nome}"></span></div>
        <div><span> Descrizione: </span><span th:text="${piatto.descrizione}"></span></div>

        <hr>

        <h4>Dettagli ingradiente: </h4>
        <ul>
            <li th:each="ingradiente : ${piatto.ingradienti}">
                <a th:href="@{'/ingradiente' + '/' + ${ingradiente.id}}"
                   th:text="${ingradiente.nome}"></a>
            </li>
        </ul>

    </div>

</div>
<footer><a href="/">Home</a></footer>
</body>
</html>