<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Inserimento piatto</title>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
<!--/*@thymesVar id="piatto" type="it.uniroma3.siw.siwcatering.model.Piatto"*/-->
<form th:action="@{/piatto}" method="post" th:object="${piatto}">

    <div>Inserisci piatto: </div>
    <div>nome:<input type="text" th:field="*{nome}" /></div>
    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>

    <div>descrizione:<input type="text" th:field="*{descrizione}" /></div>
    <div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>

    <div>

        <fieldset>
            <legend>Seleziona</legend>
            <div th:each="ingradiente: ${ingradienti}">
                <input type="checkbox" id="${ingradienti}" th:field="*{ingradienti}" name="ingradiente" th:value="${ingradiente.id}" >
                <label for="${ingradienti}" th:text="${ingradiente.nome}">Nome ingradiente</label>
            </div>
        </fieldset>
    </div>

    <div><button type="submit"/>Conferma</button></div>
</form>
</body>
</html>