<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Piatto</title>
    <link
      th:href="@{/css/list.css}"
      rel="stylesheet"
      href="../../static/css/list.css"
    />
  </head>
  <body>
    <div>
      <div class="basic-flex">
        <div class="child-flex">
          <div>piatto:</div>
          <div><span> Nome: </span><span th:text="${piatto.nome}"></span></div>
          <div>
            <span> Descrizione: </span
            ><span th:text="${piatto.descrizione}"></span>
          </div>
        </div>

        <div class="child-flex">
          <div>ingradiente:</div>

          <div th:each="ingrediente : ${piatto.ingredienti}">
            <a
              th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}"
              th:text="${ingrediente.nome}"
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="footer :: footer"></div>
  </body>
</html>
