<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registrazione</title>
    <link th:href="@{/css/form.css}" rel="stylesheet" href="../../static/css/form.css">
  </head>
  <body>
    <div>
      <form method="POST" th:action="@{/register}" th:object="${credenziali}">
        <div class="error-text" th:if="${#fields.hasGlobalErrors()}">
          <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
            this will contain errors
          </p>
        </div>

        <div id = "basic-flex" class = "child-flex">
          <div>
            <input
              name="username"
              th:field="*{username}"
              type="text"
              placeholder="username"
              required
            />
            <div th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></div>
          </div>
          <div>
            <input
              name="nome"
              th:field="*{user.nome}"
              type="text"
              placeholder="nome"
              required
            />
          </div>
          <div>
            <input
              name="cognome"
              th:field="*{user.cognome}"
              type="text"
              placeholder="cognome"
              required
            />
          </div>
          <div>
            <input
              name="email"
              th:field="*{user.email}"
              type="email"
              placeholder="email"
              required
            />
          </div>
          <div>
            <input
              name="ruolo"
              th:field="*{role}"
              type="text"
              placeholder="ruolo"
              required
            />
          </div>
          <div>
            <input
              name="password"
              th:field="*{password}"
              type="password"
              placeholder="password"
              required
            />
            <div th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></div>
          </div>

          <!--div>
            <input
                    name="conferma password"
                    th:field="*{confermaPassword}"
                    type="password"
                    placeholder="conferma password"
                    required
            />
          </div-->

          <div><button class="button" type="submit" />Conferma</div>
        </div>
      </form>
    </div>
  </body>
</html>
